@model string
<html>
<head>
    <link href="Main.css" rel="stylesheet" />
    @Scripts.Render("~/script/PlayerValidation.js")
    @Styles.Render("~/Content/Player/Main.css")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="main">
        <div id="songTitle">Demo</div>
        <div id="buttons">
            <button id="pre" onclick="pre()"><img src="/Content/Player/Pre.png" height="90%" width="90%" /></button>
            <button id="play" onclick="playOrPauseSong(),"><img src="/Content/Player/Play.png" /></button>
            <button id="next" onclick="next()"><img src="/Content/Player/Next.png" height="90%" width="90%" /></button>
        </div>  

        <div id="seek-bar">
            <div id="fill"></div>
            <div id="handle"></div>
        </div>

        <div id="currentTime"> 00:00 / 00:00 </div>

        <div id="volume">
            <button id="decrease" onclick="decreaseVolume()"> &#9660; </button>
            <div id="currentVolume">volume</div>
            <button id="increase" onclick="increaseVolume()"> &#9650; </button>

        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    var songs = ["/Content/Player/"+@Html.Raw(Json.Encode(Model))+".mp3"]

    var songTitle = document.getElementById("songTitle");
    var fillBar = document.getElementById("fill");
    var currentTime = document.getElementById("currentTime");

    var song = new Audio();
    var currentSong = 0;


	function playSong() {

        song.src = songs[currentSong];

        songTitle.textContent = songs[currentSong];

        song.play();
    }

    function playOrPauseSong() {

        if (song.paused) {
            song.play();
            $("#play img").attr("src", "/Content/Player/Pause.png");
        }
        else {
            song.pause();
            $("#play img").attr("src", "/Content/Player/Play.png");
        }
    }

    song.addEventListener('timeupdate', function () {

        var position = song.currentTime / song.duration;

        fillBar.style.width = position * 100 + '%';

        convertTime(Math.round(song.currentTime));

        if (song.ended) {
            next();
        }
    });

    function convertTime(seconds)
    {
        var min = Math.floor(seconds / 60);
        var sec = seconds % 60;

        min = (min < 10) ? "0" + min : min;
        sec = (sec < 10) ? "0" + sec : sec;

        currentTime.textContent = min + ":" + sec;

        totalTime(Math.round(song.duration));
    }

    function totalTime(seconds)
    {
        var min = Math.floor(seconds / 60);
        var sec = seconds % 60;

        min = (min < 10) ? "0" + min : min;
        sec = (sec < 10) ? "0" + sec : sec;

        currentTime.textContent += "/" + min + ":" + sec;
    }

    function next()
    {
        currentSong++;
        if (currentSong > songs.length) {
            currentSong = 0;
        }
        playSong();
        $("#play img").attr("src", "Pause.png");
        $("#image img").attr("src", poster[currentSong]);
        $("#bg img").attr("src", poster[currentSong]);
    }

    function pre() {

        currentSong--;
        if (currentSong < 0) {
            currentSong = songs.length;
        }
        playSong();
        $("#play img").attr("src", "Pause.png");
        $("#image img").attr("src", poster[currentSong]);
        $("#bg img").attr("src", poster[currentSong]);
    }

    function decreaseVolume() {
        song.volume -= 0.20;
    }

    function increaseVolume() {
        song.volume += 0.20;
    }
</script>
